<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>陈杰生</string>
	<string>林美辰</string>
	<string>叶倩兰</string>
	<string>汪海疆</string>
	<string>阎睿斌</string>
</array>
</plist>
